.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: skyblue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logoSection {
    flex: 1;
}

.buttonsSection {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navTitleSection {
    flex: 2;
    display: flex;
    justify-content: center;
}

.logo {
    cursor: pointer;
    height: 50px;
}

.navTitle {
    flex-grow: 1;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.navButton {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.navButton:hover {
    background-color: darkblue;
}