.profileimg {
    max-width: 80px;
    max-height: 80px;
    width: auto;
    height: auto;
    border-radius: 50%;
}

.Mypage {
    flex: 3;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 600px;
}

.side {
    flex: 1;
    background-color: #eceff1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.layout {
    display: flex;
    margin: 20px;
    gap: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.info hr {
    border: none;
    height: 1px;
    background: #1c86ee; 
    width: 100%; 
    margin: 10px 0; 
    margin-bottom: 70px;
}

.info > img {
    margin-bottom: 20px;
}

.info > h4 {
    margin-bottom: 10px;
    font-size: 20px;
}

.email {
    margin-bottom: 20px;
}

.post_cnt {
    margin-bottom: 20px;
}



.comment_cnt {
    margin-bottom: 80px;
}

button {
    font-size: 11px; 
    color: #ffffff; 
    background-color: #1e90ff; 
    border: none; 
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none; 
    display: inline-block;
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 16px; 
}

button:hover {
    background-color: #1c86ee;
}


